.deletePost {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding: 5px;
  width: 600px;
  height: 350px;
  border: 3px solid #00ff00;
  border-top: 23px solid #00ff00;
  font-size: 18px;
  font-family: 'Courier New';
  font-weight: 400;
  line-height: 20.39px;
  color: #ff0000;
  box-sizing: border-box;
}

.deletePost__title {
  position: absolute;
  margin: 0 auto 0;
  right: 50%;
  transform: translate(50%, -26px);
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.deletePost__menu {
  display: flex;
  margin-bottom: 40px;
}

.deletePost__text {
  margin: 0;
}

.deletePost__wrapper {
  display: flex;
}

.deletePost__btn {
  outline: none;
  border: 0;
  background: transparent;
  color: #ff0000;
  font-size: 18px;
  font-family: 'Courier New';
  font-weight: 400;
  line-height: 20.39px;
  padding: 0;
  margin-left: 5px;
  cursor: pointer;
}

.deletePost__btn:hover {
  opacity: .7;
  transition: .2s ease;
}

.deletePost__btn_type_delete {
  color: #ff9494;
}

