.signInFrame {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: 0 auto;
  padding: 5px;
  width: 600px;
  height: 350px;
  border: 3px solid #00ff00;
  border-top: 23px solid #00ff00;
  font-size: 18px;
  font-family: 'Courier New';
  font-weight: 400;
  line-height: 20.39px;
  color: #b9b9b9;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.signInFrame__title {
  position: absolute;
  margin: 0 auto 0;
  right: 50%;
  transform: translate(50%, -26px);
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input-string {
  display: flex;
  margin-bottom: 5px;
}

.form__input-string:last-of-type {
  margin-bottom: 40px;
}

.text {
  margin: 0;
}

.text_color_red {
  color: red;
}

.text-wrapper {
  display: flex;
}

.form__input {
  background-color: #292929;
  border: 1px solid #b9b9b9;
  margin-left: 3px;
  padding: 0;
  color: #b9b9b9;
  outline: none;
  width: 168px;
  height: 18px;
}

.button {
  outline: none;
  border: 0;
  background: transparent;
  color: #ff9494;
  font-size: 18px;
  font-family: 'Courier New';
  font-weight: 400;
  line-height: 20.39px;
  padding: 0;
  margin-left: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  opacity: .7;
  transition: .2s ease;
}

.button_place_form {
  margin-left: 3px;
}

.signInFrame__logo {
  position: fixed;
  top: -20%;
  left: -3px;
}

.signInFrame__logo:hover {
  opacity: .7;
  transition: .2s ease;
}