.post {
  display: flex;
  color: #b9b9b9;
  font-size: 18px;
  font-family: 'Courier New';
  font-weight: 400;
  line-height: 20.39px;
  max-width: 1160px;
  margin: auto;
  flex-direction: column;
}

.post__menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 255, 0, .2);
}

.post__user {
  margin: 0;
  color: #ff0000;
}

.post__btn {
  background: transparent;
  border: none;
  outline: none;
  color: #ff0000;
  font-size: 18px;
  font-family: 'Courier New';
  font-weight: 400;
  line-height: 20.39px;
  padding: 0;
}

.post__btn:hover {
  opacity: .7;
  transition: .2s ease;
}